@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

body, input, select, textarea, label {
		color: #ffffff;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
		margin: 50px;
	}

body{
	background-image: url('../../images/banner.jpg');
}

label, p {
	margin: 5px;
}

.centrarh{
	text-align: center;
	text-align-last: center;
	font-size: 13pt;
	font-weight: 300;
}

.botonh{
	color: #ffffff;
	background: #EBBB8F;
	border-radius: 10px;
}

.botonh:hover{
	color: #ffffff;
	background: #879BE9;
}

.container .par{
	color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	background: #EBBB8F;
	width: 150px;
	font-weight: 700;
	font-size: 22px;
	margin: 50px;
}

#Box{
	width: 800%;
	margin: 1em;
	padding: 0px;
}

div .par {
	animation-name: ChangeColor;
  	animation-duration: 4s;
}

@keyframes ChangeColor {
	from {background: transparent;}
	to {background: #EBBB8F;}
}
